# Tell GitHub Linguist to exclude notebooks from the language bar
project-2-L2-market-data-gateway/analysis/notebooks/*.ipynb linguist-documentation=true
project-1-microgrid-mdp/**/*.ipynb linguist-documentation=true
